@import "https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Nunito+Sans:opsz,wght@6..12,200&family=Open+Sans:wght@300&family=Oswald&family=Poppins:wght@500&display=swap";
$color_1 : #ffffff;
$color_2 : #F2A700;
$color_3 : white;
$font-family_1 : "Montserrat", sans-serif;
$background-color_1 : rgba(0, 0, 0, 0.516);
$background-color_2 : #2f2966;
$background-color_3 : #3f387f;
$background-color_4 : rgba(0, 0, 0, 0.646);